<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>REDlib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>REDlibExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>REDlibMedia.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3D7787CC14AE89DC0061765D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D7787DC14AE89DC0061765D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D7787FF14AE8E850061765D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D88C73914AE97A60029632F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
